<html lang='en'>
<head>
    <meta charset='UTF-8'/>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'/>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'/>
    <title>Document</title>
    <link rel="stylesheet" href="/src/assets/css/style.css">
</head>
<body>

    {{#> doesntExist }}
        Fail-over content
    {{/ doesntExist }}

    {{> includes/header }}


    <p>{{first}}</p>
    <h1>hi</h1>
    <hr/>

    <p>{{helper_name}}</p>

    <hr/>
    <hr/>
    <p>{{loud firstname}}</p>
    <p>{{loud lastname}}</p>

    <hr/>
    {{#each people}}
        <p>{{print_person}}</p>
    {{/each}}


    <script src="/src/assets/js/test.js"></script>
</body>
</html>